html
{
	overflow-x: hidden;
}
html body
{
    font-family: poppins; 
    color: #121314 ;
    font-size: 16px ;
}
p
{
	margin: 0;
	padding: 0;
}
a:hover,a,a:focus
{
	text-decoration: none;
}

/* Header Css Start */
.top-header-section
{
	box-shadow: 0 2px 3px #9393937B;
}
.top-header-section .top-head-contact a
{
	font-size: 14px;
	color: #121314;
	margin-right: 40px;
}
.top-header-section .top-head-contact a:hover
{
	color: #0058FF;
}

.top-header-section .top-head-contact a i
{
	margin-right: 5px;
}
.top-header-section
{
	padding: 10px 0;
}
.top-header-section .top-head-social a
{
	font-size: 16px;
	color: #121314;
}
.top-header-section .top-head-social a:hover
{
	color: #0058FF;
}
.top-header-section  .social-border
{
	border-right: 1px solid #121314;
}
.top-header-section .top-head-social a i
{
	margin: 0 8px;
}
.main-menu .navbar-nav .nav-item .nav-link
{
	margin: 14px;
	color: #767676;
	font-size: 16px;
}
.main-menu
{
	margin-left: 128px;
}
.main-menu .navbar-nav .last-menu a
{
	margin-right: 0 !important;
}
.navbar-brand img
{
	width: 100%;
}
.navbar-brand
{
	padding: 0;
}
.main-header-section
{
	box-shadow: 0 3px 3px #93939340;
}
.main-menu .navbar-nav .nav-item .nav-link:hover
{
	color: #0058FF
}
.main-menu .navbar-nav .nav-item .nav-link.active
{
	color: #0058FF;
}
.main-menu .navbar-nav .last-menu a
{
	color: #0058FF !important;
}
.description
{
	color: #151515;
	font-size: 16px;
}
.head_one
{
	color: #151515;
	font-size: 24px;
	font-weight: 600;
}

/* Header Css End */



/* Footer E-Mail */
.footer-mail-section
{
	box-shadow: 0 0 30px #0000001A;
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer-mail-section .title
{
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 25px;
}
.footer-mail-section .image-section
{
	margin-top: 50px;
	margin-left: 50px;
}
.footer-mail-section .image-section .news-title
{
	font-size: 16px;
	color: #000000;
	margin-bottom: 40px;
	text-align: left;
}
.footer-mail-section .newsletter-form input
{
	border:1px solid #0089FF;
	border-radius: 5px;
	text-align: center;
	padding: 10px 0px;
	width: 83%;	
}
.footer-mail-section .newsletter-form input::placeholder
{
	color: #b7b7b7;
}
.footer-mail-section .newsletter-form .newsletter-btn
{
	border-radius: 0 5px 5px 0;
	background-color: #0089FF;
	padding: 12px 30px;
	position: relative;
	right: 10px;
}
.footer-mail-section .newsletter-form .newsletter-btn i
{
	color: #ffffff;
	font-size: 22px;
}
/* Footer E-Mail */



/* About Css */
.about-section-one
{
	margin-top: 80px;
}
.about-section-one .head_one
{
	margin-bottom: 25px;
	font-weight: 600;
}
.about-section-two
{
	margin-top: 100px;
}
.about-section-two .head_one
{
	margin-bottom: 25px;
}
.about-section-two .second-row .call-details svg
{
	width: 50px;
	height: 50px;
}
.about-section-two .second-row .call-details:hover svg path
{
	stroke: #0058FF;
}
.about-section-two .second-row .call-details:hover  .title-two a
{
	color: #0058FF;
}
.about-section-two .row.second-row
{
	margin-top: 80px;
}
.about-section-two .second-row .title-one
{
	font-size: 18px;
	font-weight: 500;
	color: #151515;
	margin-top: 25px;
}
.about-section-two .second-row .title-two
{
	font-size: 20px;
	font-weight: 600;
	color: #151515;
}
.about-section-two .second-row .title-two a
{
	color: #151515;
}
.about-section-two .second-row .title-three
{
	font-size: 16px;
	font-weight: 300;
	color: #151515;
}
.about-section-three
{
	margin-top: 150px;
	margin-bottom: 130px;
}
.about-section-three .text-section .title
{
	font-size: 25px;
	line-height: 38px;
}
.about-section-three .text-section .title span
{
	font-weight: 600;
}
.about-section-three .text-section
{
	margin-left: 40px;
}
.about-section-three  .text-image a
{
	border-radius: 6px;
	background-color: #0045FF;
	box-shadow: 0 0 6px #00000029;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	padding: 15px 30px;
}
.about-section-three  .text-image a:hover
{
	background-color: #2d2e2f;
}
.about-section-three  .row
{
	padding: 0 40px;
}
.about-section-three .text-image
{
	margin-left: 30px;
    margin-top: 25px;
}
/* About  Css */


/* Promotions Page Css */
.head_two
{
	font-size: 20px;
	font-weight: normal;
}
.promotion-section-two
{
	margin-top: 150px;
}
.promotion-section-two .text-section .head_one
{
	margin-bottom: 25px;
}
.promotion-section-two .text-section .description
{
	margin-bottom: 25px;
}
.promotion-section-two .image-section ul
{
	margin-left: 0;
	list-style: none;
	margin-left: 50px;
}
.promotion-section-two .image-section ul li i
{
	margin-right: 10px;
}
.promotion-section-two .image-section ul li
{
	margin-bottom: 10px;
	font-size: 18px;
}
.promotion-section-three
{
	margin-top: 125px;
}
.promotion-section-three .content-steps .title
{
	font-size: 18px;
	color: #A8A8A8;
	margin-bottom: 35px;
	margin-top: 20px;
	font-weight: 500;
}
.promotion-section-three .content-steps svg
{
	width: 60px;
	height: 60px;
}
.promotion-section-three .content-steps
{
	box-shadow: 0 10px 15px #00000029;
	border-radius: 10px;
	padding: 45px 35px;
	margin: 0 25px;
}
.promotion-section-three .content-steps:hover 
{
	background-color: #0045FF;
	
}
.promotion-section-three .content-steps:hover .title,
.promotion-section-three .content-steps:hover .description
{
	color: #ffffff;
}
.promotion-section-three .content-steps:hover svg path,
.promotion-section-three .content-steps:hover svg rect
{
	fill: #ffffff;
}
.promotion-section-three .content-steps .description
{
	color: #848484;
}
.promotion-section-three  .row.second-row
{
	margin-top: 50px;
}
.promotion-section-three .row.third-row
{
	margin-top: 40px;
}
.promotion-section-four
{
	margin-top: 150px;
}
.promotion-section-four .text-section .description
{
	margin-bottom: 25px;
}
.promotion-section-four .text-section
{
	margin-top: 40px;
}
.promotion-section-four .text-section .head_one
{
	margin-bottom: 30px;
}
.promotion-section-five
{
	margin-top: 150px;
}
.promotion-section-five .title-section .head_one
{
	margin-bottom: 20px;
}
/* FAQ SECTION CSS */

.fxbit-faq .set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.fxbit-faq .set > a{
  display: block;
  text-decoration: none;
  color: #000000;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
      box-shadow: 0 3px 6px #00000029;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    padding: 20px 30px;
    /* margin: 20px 0; */
    margin-top: 20px;
}
a
{
	cursor: pointer;
}
.fxbit-faq .set > a i{
  float: right;
  margin-top: 2px;
}

.fxbit-faq .content{
  display:none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    background: #ffffff;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 0 0 10px 10px;
    margin-top: 2px;
}
.fxbit-faq .content p{
  margin: 0;
  color: #151515;
  font-weight: 300;
  font-size: 16px;
}
/* FAQ SECTION CSS*/
.promotion-section-five .row.second-row
{
	margin-top: 40px;
}
.promotion-section-six
{
	margin-top: 150px;
	margin-bottom: 100px;
}
.promotion-section-six .demo-account
{
	background-color: #0058FF;
	box-shadow: 0 0 6px #00000029;
	border-radius: 6px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 20px;
	margin-right: 30px;
}
.promotion-section-six .demo-account:hover
{
	background-color: #2d2e2f;
}
.promotion-section-six .open-account
{
	background-color: #ffffff;
	box-shadow: 0 0 6px #00000029;
	border-radius: 6px;
	color: #0058FF;
	font-size: 18px;
	padding: 10px 20px;
	border: 2px solid #0058FF;
}
.promotion-section-six .open-account:hover
{
	background-color: #0058FF;
	color: #ffffff;
}
.promotion-section-six .row.second-row
{
	margin-top: 50px;
}
.promotion-section-six .row.second-row .description
{
	margin-top: 60px;
}
/* Promotion Page Css*/


/* Platforms Page Css */
.platforms-section-two
{
	margin-top: 70px;
	box-shadow: 0 0 30px #0000001A;
	padding: 40px 0;
}
.platforms-section-two .title-section
{
	margin-top: 30px;
}
.platforms-section-two .content-step .title
{
	color: #CECECE;
	font-size: 18px;
	margin-top: 15px;
	font-weight: 400;
}
.platforms-section-two .content-step
{
	padding: 15px 0 8px 0;
}

.platforms-section-two .content-step:hover .title
{
	color: #0058FF;
}
.market-section-two #feature-one
{
	max-width: 40% !important;
	flex: unset;
	padding-top: 40px;
}
.market-section-two .feature-box
{
	max-width: 20% !important; 
}
.platforms-section-two .content-step:hover svg path
{
	fill: #0058FF;
}
.platforms-section-three
{
	margin-top: 150px;
}
.platforms-section-three  .title-section .head_one
{
	margin-bottom: 15px;
}
.platforms-section-three .row.second-row
{
	margin-top: 70px;
}
.platforms-section-three .row.second-row  .content-step ul
{
	list-style: none;
}
.platforms-section-three .row.second-row  .content-step ul li
{
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.platforms-section-three .row.second-row  .content-step ul li img
{
	margin-right: 10px;
	width: 20px;
}
.platforms-section-four
{
	margin-top: 150px;
}
.platforms-section-four .head_one
{
	margin-bottom: 20px;
}
.platforms-section-four .row.second-row
{
	margin-top: 40px;
}

.promotion-section-five
{
	margin-top: 150px;
	margin-bottom: 100px;
}
.promotion-section-five .demo-account
{
	background-color: #0058FF;
	box-shadow: 0 0 6px #00000029;
	border-radius: 6px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 20px;
	margin-right: 30px;
}
.promotion-section-five .demo-account:hover
{
	background-color: #2d2e2f;
}
.promotion-section-five .open-account
{
	background-color: #ffffff;
	box-shadow: 0 0 6px #00000029;
	border-radius: 6px;
	color: #0058FF;
	font-size: 18px;
	padding: 10px 20px;
	border: 2px solid #0058FF;
}
.promotion-section-five .open-account:hover
{
	background-color: #0058FF;
	color: #ffffff;
}
.promotion-section-five .row.second-row
{
	margin-top: 50px;
}
.promotion-section-five .row.second-row .description
{
	margin-top: 60px;
}
/* Platforms Page Css */


/* Market Css */
.market-section-one {

    padding-bottom: 20px;
}
.market-section-one .plaftform-tab-row {
    margin-top: 40px;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    padding: 15px 0 15px 5px;
}
.plaftform-tab-row ul li {
    margin: 0 17px;
}
.market-section-one .plaftform-tab-row li a.active {
    background-color: #0058FF;
    border-radius: 5px;
    color: #ffffff;
}
.market-section-one .plaftform-tab-row li a {
    color: #121314;
    font-size: 18px;
    padding: 5px 25px;
    font-weight: 500;
}
.market-section-one .plaftform-tab-row li a:hover
{
	background-color: #0058FF;
	color: #ffffff;
}
.market-section-one .forex-major-specification {
    margin-top: 40px;
}
.market-section-one .forex-major-specification .title {
    font-size: 22px;
    color: #000000;
    font-weight: 500;
    width: 630px;
    margin-bottom: 0;

    padding-bottom: 10px;
}
.market-section-one .forex-major-row {
    margin-top: 40px;
}


.market-section-one .forex-major-table th {
    color: #121314;
    font-size: 14px;
    border: 1px solid #000000;
    font-weight: normal;
    text-align: center;
    border-left: 0;
    border-top: none;
}
.market-section-one .forex-major-table tbody tr {
    background-color: #ffffff;
}
.market-section-one .forex-major-table tbody tr td {
    border: none;
    border-bottom: 1px solid #000000;
    color: #121314;
    font-size: 14px;
}  
.market-section-one .forex-major-table tbody tr td a
{
    color: #121314;
    font-weight: 500;
} 
table#example1 {
    border: 1px solid #B4B4B4;
    box-shadow: 0 3px 6px #00000029;
}
table#example {
    border: 1px solid #B4B4B4;
    box-shadow: 0 3px 6px #00000029;
}
.market-section-one .forex-major-table .dataTables_info, .market-section-one .forex-major-table .dataTables_paginate {
    display: none;
}
.market-section-one .forex-minor-row-title {
    margin-top: 60px;
}
.market-section-one .forex-important-row-title {
    margin-top: 80px;
}
.market-section-one .forex-important-row-description {
    margin-top: 50px;
}

.market-section-one .forex-margin-feature-row .forex-margin-box {
    border-radius: 10px;
}
.market-section-one
{
	margin-top: 80px;
}
.market-right-border
{
	border-right: none !important;
}
.dataTables_filter input
{
	border-radius: 3px;
	border: 1px solid #121314;
}
.dataTables_length select
{
	border-radius: 3px;
	border: 1px solid #121314;
}
.market-section-two
{
	margin-top: 150px;
}
.market-section-two .step-section .description
{
	margin-top: 20px;
	color: #CECECE;
	font-size: 14px;
}
.market-section-two .step-section svg
{
	width: 40px;
	height: 40px;
}
.market-section-two .text-section .head_one
{
	margin-bottom: 20px;
}
.market-section-two .text-section .description
{
	font-size: 15px;
}
.market-section-two .step-section .title
{
	color: #CECECE;
	font-weight: 500;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 0;
}
.market-section-two .step-section:hover
{
	background-color: #0045FF;
	border-radius: 10px;
	box-shadow: 0 0 6px #00000029
}
.market-section-two .step-section:hover .title,
.market-section-two .step-section:hover .description
{
	color: #ffffff;
}
.market-section-two .step-section:hover svg path
{
	fill: #ffffff;
}
.market-section-two .step-section
{
	padding: 20px 10px;
	min-height: 190px;
}
.market-section-three
{
	padding-top: 150px;
	padding-bottom: 100px;
}
.market-section-three .step-section .title
{
	font-weight: 500;
	font-size: 18px;
	color: #000000;
	margin-top: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.market-section-three .step-section .step-border
{
	border: 2px solid #000000;
    width: 20px;
    text-align: center;
    margin: 0 auto;
}
.market-section-three .step-section .description
{
	margin-top: 30px;
}
.market-section-three .row.second-row
{
	margin-top: 70px;
}
.market-section-three .row.second-row .step-section:hover svg path,.market-section-three .row.second-row .step-section:hover svg rect
{
	fill: #0058FF;
}
.market-section-three .step-section:hover .title
{
	color: #0058FF;
}
.market-section-three .step-section svg
{
	width: 80px;
	height: 80px;
}
.market-section-three .step-section:hover  .step-border
{
	border: 2px solid #0058FF;
}
.market-section-three .step-section:hover svg #Path_86621,.market-section-three .step-section:hover svg #Path_86619,
.market-section-three .step-section:hover svg #Path_86589,.market-section-three .step-section:hover svg #Path_86587,
.market-section-three .step-section:hover svg #Path_86599,.market-section-three .step-section:hover svg #Path_86601,
.market-section-three .step-section:hover svg #Path_86609,.market-section-three .step-section:hover svg #Path_86611
{
	fill: #0058FF;
}
.market-section-three .row.third-row .create-account
{
	background-color: #0058FF;
    box-shadow: 0 0 6px #00000029;
    border-radius: 6px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 30px;

}
.market-section-three .row.third-row .demo-account
{
	background-color: #ffffff;
    box-shadow: 0 0 6px #00000029;
    border-radius: 6px;
    color: #0058FF;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #0058FF;

}
.market-section-three .create-account:hover {
    background-color: #2d2e2f !important;
}
.market-section-three .demo-account:hover {
    background-color: #0058FF !important;
    color: #ffffff !important;
}
.market-section-three .row.third-row
{
	margin-top: 100px;
}
.market-section-three .container
{
	background-image: url('../images/map-bg.svg');
	    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.forex-important-row-title .forex-major-specification {
    padding-right: 150px;
}

.market-section-four .forex-major-specification .title {
    font-size: 22px;
    color: #000000;
    font-weight: 500;
    border-bottom: 2px solid #000000;
    width: 630px;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.forex-important-row-title .forex-major-specification .title {
    width: 265px !important;
}
.forex-important-row-title .forex-important-text {
    padding-right: 150px;
}
.forex-important-row-title .forex-important-text {
    margin-top: 30px;
}
.forex-important-row-title  .forex-important-text .description
{
	margin-bottom: 25px;
}
.forex-important-row-title .forex-margin-text {
    margin-top: 30px;
}
.forex-important-row-title .forex-margin-text2 .description
{
	margin-bottom: 15px;
}
.forex-important-row-title .forex-margin-text2
{
	margin-top: 30px;
}
.market-section-four
{
	margin-top: 100px;
	margin-bottom: 100px;
}
.market-section-one h2.head_one.text-left.poppins
{
	font-size: 24px;
}
.account-section-five
{
	margin-top: 150px;
}
.account-section-five .step-section .title {
    color: #868686;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
.account-section-five .row.second-row .step-section svg {
    width: 80px;
    height: 80px;
    
}
.account-section-five .row.second-row .step-section svg path,
{
	fill: #000000;
}
.account-section-five .row.second-row .step-section:hover svg path,
.account-section-five .row.second-row .step-section:hover svg rect
{
	fill: #0058FF;
}
.account-section-two
{
	margin-top: 113px;
}
.account-section-two .row.second-row
{
	margin-top: 50px;
	box-shadow: 0 0 6px #00000039;
}
.account-section-two .row.second-row .price-col
{
	padding: 0;
}
.account-section-two .price-table-one  .table-title
{
	text-align: center;
	padding: 25px 0;
}
.account-section-two .price-table-one .table-title-two h3
{
	text-align: center;
	font-size: 22px;
	font-weight: 600;

}
.account-section-two .price-table-one .price-heading ul
{
	list-style: none;
	padding-left: 0
}
.account-section-two .price-table-one .price-heading ul li
{
	font-size: 16px;
	font-weight: 600;
	border-bottom: 1px dashed #121314;
	padding:13.5px 30px;
}
.price-table.price-table-two h2
{
	font-size: 25px;
	font-weight: 600;
		margin-bottom: 0 !important;
}
.price-table.price-table-two .table-title-two h3
{
	font-size: 16px;
	font-weight: 400;
}
.price-table.price-table-two .table-title-two h4
{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 0;
}
.price-table.price-table-two .price-description ul
{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.price-border-bottom
{
	border-bottom: none !important;
}
.price-table.price-table-two .price-description ul li
{
	font-size: 14px;
	font-weight: 500;
	border-bottom: 1px dashed #121314;
	padding:15px 0;
}
.price-table.price-table-two .table-title
{
	background-color: #121314;
	color: #ffffff;
	padding: 10px 0;
}
.price-table.price-table-two .table-title-two
{
	margin-top: 30px;
}
/* Market Css */

/* Accounts Css */
.account-section-three
{
	margin-top: 150px;
}
.account-section-three .title-section .head_one
{
	margin-bottom: 20px;
}
.account-section-three .step-section .title
{
	color: #868686;
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
}
.account-section-three .row.second-row
{
	margin-top: 80px;
}
.account-section-three .row.second-row .step-section svg
{
	width: 80px;
	height: 80px;
}
.account-section-three .row.second-row .step-section:hover svg path,.account-section-three .row.second-row .step-section:hover svg text,
.account-section-three .row.second-row .step-section:hover svg rect
{
	fill: #0058FF;
}
.account-section-four
{
	margin-top: 150px;
}
.account-section-four .title-section .head_one
{
	margin-bottom: 20px;
}
.account-section-four .row.second-row
{
	margin-top: 20px;
}
.account-section-four .row.second-row .text-section .head_one
{
	margin-bottom: 30px;
}
.account-section-four .row.second-row .text-section
{
	margin-top: 60px;
}
.price-table.price-table-one .table-title-two h3
{
	padding-top: 30px;
	margin-bottom: 0;
}
.price-table.price-table-one .price-heading.price-description
{
	margin-top: 50px;
}
.price-table.price-table-two .price-heading.price-description
{
	margin-top: 37px;
}
.price-table.price-table-two .price-button.price-button-head a
{
	background-color: #121314;
	box-shadow: 0 0 6px #00000080;
	color: #ffffff;
	font-weight: 600;
	padding: 10px 56px;
}
.price-table.price-table-two .price-button.price-button-head a:hover
{
	background-color: unset;
	background: transparent linear-gradient(180deg, #0045FF 0%, #002576 100%) 0% 0% no-repeat padding-box;
}
.price-table.price-table-two .price-button.price-button-head
{
	margin-bottom: 10px;
}
.price-table.price-table-two li.table-icon.price-border-bottom
{
	padding-bottom: 50px;
}
.price-table.price-table-two li.table-icon.price-border-bottom i
{
	font-size: 18px;
	color: #20fb20;
}
.price-table.price-table-two
{
	box-shadow: 0 0 6px #00000039
}
/* Accounts Css */


/* Home  Page css */
.home-section-one .text-section .slide-title
{
	font-size: 45px;
	font-weight: 300;
}
.home-section-one .text-section .slide-title-two
{
	color: #0058FF;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 45px;
}
.home-section-one
{
	padding-top: 100px;
	padding-bottom: 50px;
}
.home-section-one .text-section .description
{
	font-size: 18px;
	font-weight: 400;
}
.home-section-one .text-section .demo-account
{
	background-color: #ffffff;
	border: 1px solid #0058FF;
	border-radius: 5px;
	color: #0058FF;
	font-weight: 300;
	padding: 10px 20px;
	margin-right: 38px;
}
.home-section-one .text-section .open-account
{
	background-color: #0058FF;
	color: #ffffff;
	border-radius: 5px;
	font-weight: 300;
	padding: 10px 20px;
}
.home-section-one .text-section .demo-account:hover
{
	background-color: #0058FF;
	color: #ffffff;
}
.home-section-one .text-section .open-account:hover
{
	background-color: #2d2e2f;
}
.home-section-one .text-section .description-two
{
	font-size: 18px;
	font-weight: 400;
}
.home-section-one .text-section .slide-btn
{
	margin-top: 80px;
}
.home-section-one .text-section .description-two
{
	padding-top: 50px;
}

.home-section-two
{
	margin-top: 100px;
}
.home-section-two .text-section .head_two
{
	color: #0089FF;
}
.home-section-two .text-section .description
{
	margin-top: 35px;
}
.home-section-two .text-section
{
	margin-left: 35px;
}
.home-section-three
{
	margin-top:150px;
	margin-bottom: 50px;
}
.home-section-three .head_one
{
	margin-bottom: 20px;
}
.home-section-three .step-content  .title-step svg
{
	float: left;
	margin-right: 40px;
	margin-top: 12px;
}
.home-section-three .step-content  .title-step .title
{
	display: table-cell;
	font-size: 21px;
	color: #151515;
	font-weight: 600;
}
.home-section-three .row.second-row
{
	margin-top: 80px;
}
.home-section-three .row.third-row
{
	margin-top: 70px;
}
.home-section-three  .description
{
	text-align: left;
	padding: 30px 30px;
}
.home-section-three .step-content .title-step
{
	border-bottom: 2px solid #E6E6E6;
	padding: 25px 40px;
}
.home-section-three .step-content .title-step svg
{
	width: 40px;
	height: 40px;
}
.home-section-three .step-content
{
	border-radius: 10px;
	box-shadow: 0 25px 50px #0000001A;
	min-height: 335px;
}
.home-section-three .step-content:hover svg path
{
	fill: #0089FF;
}
.home-section-three .step-content:hover .title
{
	color: #0089FF;
}
.home-section-five
{
	margin-top: 150px;
	margin-bottom: 50px;
}
.home-section-five .title-section .head_one
{
	margin-bottom: 20px;
}
.home-section-five .row.second-row
{
	margin-top: 80px;
}
.home-section-five .steps-section .images
{
	float: left;
	border-radius: 10px;
	padding: 10px 20px;
	box-shadow: 0 3px 3px #00000029;
}
.home-section-five .steps-section .images svg
{
	width: 50px;
	height: 50px;
}
.home-section-five .steps-section .text-image
{
	display: table-cell;
	vertical-align: middle;
}
.home-section-five .steps-section
{
	box-shadow: 0 25px 50px #0000001A;
	border-radius: 10px; 
	padding: 20px 18px;
	margin-bottom: 20px;
	background-color: #ffffff;
}
.home-section-five .steps-section:hover svg path
{
	fill: #0089FF;
}
.home-section-five .steps-section:hover .title
{
	color: #0089FF;
}
.home-section-five .steps-section .images
{
	margin-right: 40px;
	margin-top: 12px;
}
.home-section-five .steps-section .text-image .title
{
	font-size: 22px;
	font-size: 500;
	margin-bottom: 20px;

}
.home-section-six
{
	margin-top: 150px;
	margin-bottom: 50px;
}
.home-section-six .title-section .head_one
{
	margin-bottom: 20px;
}
.home-section-six .row.second-row
{
	margin-top: 60px;
}
.home-section-six .row.third-row
{
	margin-top: 20px;
}
.home-section-six .row.fourth-row
{
	margin-top: 80px;
}
.home-section-six .row.fourth-row .price-link-btn a
{
	border-radius: 6px;
	box-shadow: 0 0 6px #00000029;
	background-color: #0058FF;
	color: #ffffff;
	font-size: 20px;
	padding: 12px 30px;
}
.home-section-six .row.fourth-row .price-link-btn a:hover
{
	background-color: #2e2e2e;
	color: #ffffff;
}
.home-section-six .row.third-row .price-link a
{
	color: #FF0000;
	text-decoration: underline;
}
.home-section-seven
{
	margin-top: 150px;
}
.home-section-seven .title-section .head_one
{
	margin-bottom: 20px;
}
.home-section-seven .row.second-row
{
	margin-top: 80px;
}
.home-section-seven .steps-section .images
{
	float: left;
	border-radius: 10px;
	padding: 15px 20px 10px 20px;
	box-shadow: 0 3px 3px #00000029;
	margin-top: 25px;
	background-color: #ffffff;
}
.home-section-seven .steps-section .images svg path
{
	fill: #000000;
}
.home-section-seven .steps-section .text-image
{
	display: table-cell;
	vertical-align: middle;
}
.home-section-seven .steps-section
{
	box-shadow: 0 25px 50px #0000001A;
	border-radius: 10px; 
	padding: 20px 18px;
	margin-bottom: 20px;
	background-color: #ffffff;
}
.home-section-seven .steps-section svg
{
	width: 40px;
	height: 40px;

}
.home-section-seven .steps-section:hover svg path
{
	fill: #0089FF;
}
.home-section-seven .steps-section:hover .title
{
	color: #0089FF;
}
.home-section-seven .steps-section .images
{
	margin-right: 40px;
	margin-top: 35px;
}
.home-section-seven .steps-section .text-image .title
{
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 20px;

}
.home-section-seven .row.third-row
{
	margin-top: 20px;
}
.home-section-eight .head_one
{
	margin-bottom: 20px;
}
.home-section-eight
{
	margin-top: 150px;
	margin-bottom: 50px;
}
.home-section-eight .row.second-row
{
	margin-top: 80px;
}
.home-section-eight .row.second-row .home-price-table .table-title h2
{
	font-size: 38px;
	color: #CECECE;
	font-weight: 600;
}
.home-section-eight .home-price-table .price
{
	font-size: 50px;
	font-weight: bold;
	color: #6A6A6A;
	margin-top: 50px;
}
.home-section-eight .home-price-table .price .time-price
{
	font-size: 14px;
	color: #6A6A6A;
	font-weight: normal;
}
.home-section-eight .home-price-table  .price-border
{
	border: 1px solid #6A6A6A;
	margin: 0 auto;
	width: 180px;
}
.home-section-eight .home-price-table
{
	box-shadow: 0 3px 6px #00000029;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 40px 0;
	transition: transform .2s;
}
.home-section-eight .home-price-table:hover
{
	transform: scale(1.1);
}
.home-section-eight .home-price-table  .table-feature ul
{
	list-style: none;
	padding-left: 0;
}
.home-section-eight .home-price-table  .table-feature .price-title-right
{
	float: right;
}
.home-section-eight .home-price-table  .table-feature
{
	margin-top: 60px;
}
.home-section-eight .home-price-table  .table-feature ul li
{
	border-bottom: 1px solid #CECECE;
	color: #6C6C6C;
	padding: 10px 20px;
	font-size: 14px;
}
.home-section-eight .home-price-table  .table-feature ul li 
span.price-title-right.text-right
{
	font-weight: 500;
}
.home-section-eight .home-price-table  .table-price-btn
{
	margin-top: 70px;
}
.home-section-eight .home-price-table  .table-price-btn a
{
	background:transparent linear-gradient(180deg, #606060 0%, #000000 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0 3px 6px #00000029;
	border-radius: 6.23px;
	color: #ffffff;
	padding: 12px 30px;
	font-size: 16px;
	font-weight: 500;
}
.home-section-eight .home-price-table  .table-price-btn a:hover
{
	background:#0089FF;
}

.white-color
{
	color: #ffffff;
}
.home-section-nine
{
	margin-top: 150px;
	margin-bottom: 50px;
}
.home-section-nine .head_one
{
	margin-bottom: 20px;
}
.home-section-nine .row.second-row
{
	margin-top: 80px;
}
.home-section-nine .step-content
{
	background-color: #ffffff;
	box-shadow: 0 25px 50px #00000029; 
	border-radius: 10px;
	padding: 20px 20px 35px 20px;
	min-height: 220px;
}
.price-col .blue-color .table-title
{
	background-color: #0000D3;
}
.home-section-nine .step-content .description
{
	font-size: 14px;
}
.home-section-nine .step-content .title-step .title
{
	font-size: 22px;
	font-weight: 500;
	float: left;
}
.home-section-nine .step-content .title-step .image-svg
{
	float:right;
}
.home-section-nine .step-content .title-step .image-svg svg
{
	width: 35px;
	height: 35px;
}
.home-section-nine .step-content .step-desc
{
	margin-top: 70px;
}
.home-section-nine .step-content:hover svg path
{
	fill: #0089FF;
}
.home-section-nine .home-nine-border
{
	border: 2px solid #E6E6E6;
	position: relative;
	top: 300px;
}
.home-section-ten
{
	margin-top: 150px;
	margin-bottom: 100px;
}
.home-section-ten .head_one
{
	margin-bottom: 20px;
}
.home-section-ten .row.second-row
{
	margin-top: 80px;
}
.home-price-table.blue-color .table-title h2
{
	color: #0089FF !important;
}
.home-price-table.blue-color .price,.home-price-table.blue-color .price span
{
	color: #0089FF !important;
}
.home-price-table.blue-color .price-border
{
	border: 1px solid #0089FF !important;
}
/* Home Page  Css */

.main-header-section.sticky-head
{

	position: fixed;
    width: 100%;
    animation: smoothScroll 1s forwards;
    z-index: 99;
    background-color: #ffffff;
    top: 0;
}
.top-header-section .hide-top-head
{
	display: none;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Footer Css Start */

footer
{
	padding-top: 100px;
	padding-bottom: 30px;
}
footer .footer-menu ul
{
	list-style: none;
	padding-left: 0;
}
footer .footer-menu ul li
{
	margin-bottom: 10px;
}
footer .footer-menu ul li a
{
	color: #000000;
}
footer .footer-menu ul li a:hover
{
	color: #0058FF;
}
footer .footer-contact a:hover
{
	color: #0058FF;
}
footer .footer-title
{
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
}
footer .footer-contact a
{
	color: #000000;
}
footer .footer-address .description
{
	color: #000000;
}
footer .footer-email
{
	margin-bottom: 10px;
}
footer .row.second-row
{
	margin-top: 40px;
}
footer .row.second-row .description
{
	margin-top: 30px;
	font-size: 14px;
}
footer .row.second-row .description span
{
	font-weight: 500;
}
footer .footer-social a
{
	background-color: #1C1C1C;
	color: #ffffff;
	border-radius: 5px;
	margin: 0 10px;
	padding: 6px;
	font-size: 18px;
}
footer .footer-social a:hover
{
	background-color: #007bff;
}
footer .footer-social a i
{
	padding: 6px;
}
footer .row.row-copyrights
{
	margin-top: 45px;
}
/* Footer Css End */


@media (min-width: 1200px)
{
.container {
    max-width: 1200px;
}
}

@media only screen and (max-width: 600px) {

	.home-section-six .price-image {
	    white-space: nowrap;
	    overflow-x: scroll;
	}
	.footer-mail-section .newsletter-form input
	{
		padding: 10px 20px;
		width: auto;
	}
	.top-header-section
	{
		display: none;
	}
	.main-menu
	{
		margin-left: 0;
	}
	.main-menu .navbar-nav .nav-item .nav-link
	{
		margin: 3px;
	}
	.home-section-one
	{
		padding-top: 40px;
		padding-bottom: 75px;
	}
	.home-section-one .text-section .slide-title
	{
		font-size: 35px;
	}
	.home-section-one .text-section .slide-title-two
	{
		font-size: 18px;
	}
	.home-section-one .text-section .description br
	{
		display: none;
	}
	.home-section-one .text-section .description
	{
		font-size: 16px;
	}
	.home-section-one .slide-btn a
	{
		display: block;
		text-align: center;
	}
	.home-section-one .text-section .demo-account
	{
		margin-bottom: 20px;
		width: 100%;
	}
	.home-section-one .text-section .slide-btn
	{
		margin-top: 60px;
	}
	.home-section-one .image-section
	{
		margin-top: 40px;
	}
	.home-section-two
	{
		margin-top: 75px;
	}
	.home-section-two .text-section {
    	margin-left: 0px;
	}
	.home-section-two .image-section
	{
		margin-bottom: 40px;
	}
	.home-section-two .description br
	{
		display: none;
	}
	.home-section-three .description br
	{
		display: none;

	}
	.home-section-three .description
	{
		padding: 0;
	}
	.home-section-three .step-content
	{
		margin-bottom: 30px;
	}
	.home-section-three .step-content .description
	{
		padding: 20px;
	}
	.home-section-three .row.third-row
	{
		margin-top: 0;
	}
	.home-section-five
	{
		margin-top: 130px;
	}
	.home-section-five .image-section
	{
		margin-bottom: 40px;
	}
	.home-section-five .steps-section .images
	{
		margin-right: 30px;
	}
	.home-section-five .steps-section .text-image .title
	{
		font-size: 18px;
	}
	.head_one
	{
		font-size: 24px;
	}
	.home-section-six .price-link
	{
		text-align: left !important;
	}
	.home-section-seven .description br
	{
		display: none;
	}
	.home-section-seven .row.third-row
	{
		margin-top: 0;
	}
	.home-section-seven .steps-section .text-image .title
	{
		font-size: 18px;
	}
	.home-section-eight .home-price-table
	{
		margin-bottom: 30px;
	}
	.home-section-nine .description br
	{
		display: none;
	}
	.home-section-nine .home-nine-border
	{
		display: none;
	}
	.home-section-nine .step-content
	{
		margin-bottom: 30px;
	}
	.home-section-ten .step-content
	{
		margin-bottom: 30px;
	}
	.footer-mail-section .description br
	{
		display: none;
	}
	.footer-mail-section .image-section .news-title
	{
		padding-left: 0;
	}
	.footer-mail-section .image-section
	{
		text-align: left !important;
	}
	.about-section-one
	{
		margin-top: 50px;

	}
	.about-section-two .call-details.text-center
	{
		margin-bottom: 40px;
	}
	.about-section-three
	{
		margin-top: 110px;	
	}
	.about-section-three br
	{
		display: none;
	}
	.about-section-three .text-section
	{
		margin-left: 0;
	}
	.about-section-three .row
	{
		padding: 0;
	}
	.about-section-three .text-image
	{
		text-align: center;
	}
	.about-section-three .text-image
	{
		margin-left: 0;
	}
	.about-section-two .description  br
	{
		display: none;
	}
	footer .footer-address,footer .footer-contact
	{
		margin-top: 30px;
	}
	footer .footer-menu ul
	{
		margin-bottom: 0;
	}
	.footer-social
	{
		text-align: center !important;
		margin-top: 35px;
	}
	footer
	{
		padding-bottom: 45px;
	}
	footer .row.second-row
	{
		margin-top: 30px;
	}
	.promotion-section-two .image-section ul
	{
		margin-left: 0;
		padding-left: 0;
	}
	.promotion-section-two .description br
	{
		display: none;
	}
	.promotion-section-three .content-steps
	{
		margin-bottom: 30px;
		margin-left: 0;
		margin-right: 0;
	}
	.promotion-section-three .row.third-row
	{
		margin-top: 0;
	}
	.promotion-section-four .text-section .description br
	{
		display: none;
	}
	.promotion-section-six .text-section  a
	{
		display: block;
		margin-left: 35px;
    	margin-right: 35px;
		
	}
	.platforms-section-two .content-step .title
	{
		font-size: 16px;
	}
	.promotion-section-six .demo-account
	{
		margin-bottom: 25px;
		margin-right: 0;
	}
	.platforms-section-two .content-step
	{
		margin: 15px 0;
	}
	.platforms-section-three .row.second-row .content-step ul
	{
		padding-left: 0;
	}
	.promotion-section-five .text-section a
	{
		display: block;
		margin-left: 35px;
    	margin-right: 35px;
	}
	.promotion-section-five .demo-account
	{
		margin-bottom: 25px;
		margin-right: 0;
	}
	.market-section-one .forex-major-specification .title
	{
		width: auto;
	}
	.market-section-one .plaftform-tab-row {
	    overflow-x: scroll !important;
	    flex-wrap: nowrap;
	}
	.market-section-one .forex-major-row {
    overflow-x: scroll !important;
    flex-wrap: nowrap;
	}
	.market-section-one .plaftform-tab-row ul {
    flex-wrap: nowrap;
	}
	.market-section-three
	{
		padding-top: 120px;
	}
	.market-section-three .step-section
	{
		margin-bottom: 40px;
	}
	.market-section-three .row.third-row a
	{
		display: block;
		margin-left: 35px !important;
    	margin-right: 35px !important;
	}
	.market-section-three .row.third-row .create-account
	{
		margin-right: 0;
		margin-bottom: 30px;
	}
	.market-section-three .row.third-row
	{
		margin-top: 40px;
	}
	.market-section-four
	{
		margin-top: 40px;
	}
	.forex-important-row-title .forex-important-text
	{
		padding-right: 0;
	}
	.price-table.price-table-two
	{
		margin: 25px 20px;
	}
	.price-table.price-table-two
	{
		padding-bottom: 40px;
	}
	.account-section-three .row.second-row
	{
		margin-top: 50px;
	}
	.account-section-three .step-section
	{
		margin-bottom: 40px;
	}
	.account-section-four
	{
		margin-top: 100px;
	}
	.account-section-four .row.second-row .text-section
	{
		margin-top: 40px;
	}
	.account-section-five .step-section
	{
		margin-bottom: 40px;
	}
	.promotion-section-six.account-section-six
	{
		margin-top: 100px;
	}
	.navbar-collapse {
	    background-color: #ffffff;
	    width: 75%;
	    z-index: 9;
	    position: fixed;
	    top: 114px;
	    right: 0;
	    margin-top: -35px;
	    height: 90vh;
	}
	.main-menu ul.navbar-nav .nav-item .nav-link {
    padding: 15px 18px;
	}
	.navbar-collapse li {
    border-bottom: 1px solid #cdcdcd;
	}
	.home-section-three .step-content,.home-section-nine .step-content
	{
		height: auto;
	}
	.about-section-three .text-section .title
	{
		font-size: 22px;
	}
	footer .copyright-text p
	{
		text-align: center;
	}
	.platforms-section-two .head_one br
	{
		display: none;
	}
	.market-section-two .step-section
	{
		min-height: auto;
	}
	.footer-mail-section .image-section
	{
		margin-left: 0;
	}
	.market-section-two #feature-one
	{
		max-width: 100% !important;
	}
	.market-section-two .text-section .description br
	{
		display: none;
	}
	.market-section-two .feature-box
	{
		max-width: 100% !important;
	}
}